apiVersion: v1
kind: ResourceQuota
metadata:
  name: platform-quota
  namespace: {{ .Release.Namespace }}
spec:
  hard:
    requests.cpu: "500m"
    requests.memory: "1Gi"
    limits.cpu: "2"
    limits.memory: "4Gi"
    pods: "20"
    services: "10"
    persistentvolumeclaims: "5"
