apiVersion: v1
kind: Service
metadata:
  name: platform-db
  namespace: {{ .Release.Namespace }}
  labels:
    app: platform-db
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    app: platform-db
